* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

#main-container {
  /* border: 1px solid red; */
  width: 100%;
  min-height: 100vh;
  height: auto;

  display: grid;
  grid-gap: 20px;
  grid-template-rows: 200px auto;
  grid-template-columns: 100%;
}

#main-container .header {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header h1 {
  font-family: 'Nerko One', cursive;
  font-size: 4em;
}

.header form {
  /* border: 1px solid red; */
  width: 30%;
}

.header form input {
  border-radius: 10px;
  border: 2px solid #000;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

#main-container .gifs-container {
  /* border: 1px solid red; */
  padding: 0 50px;
}

.gifs-container .section .buttons-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gifs-container .section {
  /* border: 1px solid red; */
  margin-bottom: 50px;
}

.buttons-box h3 {
  font-family: 'Nerko One', cursive;
  font-size: 28px;
}

.buttons-box button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: 'Nerko One', cursive;
  color: #d00000;
  font-size: 20px;
}

.gifs-container .section .cards-wrapper {
  /* border: 1px solid red; */
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.cards-wrapper .gif-card {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 13%;
}

.gif-card .gif-title {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
}

.gif-card .gif-wrapper {
  /* border: 1px solid red; */
  text-align: center;
}